[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {commander, [
        {work_dir, "/var/encoder"},
        {mq_host, "192.168.1.212"},
        {mq_user, "dasudian"},
        {mq_pass, "Dasudian123456"},
        {mq_exchange, "cloud_encoder"},
        {mq_queue, "cloud_encoder_hk"},
        {mq_routing_key, "encoder.hk"},
        {max_queue, 4}
    ]}
].

